---
name: Release Please

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:

  release-please:
    runs-on: [ ubuntu-latest ]
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
    outputs:
      release_created: ${{ steps.release-please.outputs.release_created }}
      tag_name: ${{ steps.release-please.outputs.tag_name }}
      version: ${{ steps.release-please.outputs.version }}
      all: ${{ toJSON(steps.release-please.outputs) }}
    steps:
      - uses: tibdex/github-app-token@v1
        id: generate-github-token
        with:
          app_id: ${{ vars.RELEASE_PLEASE_GITHUB_APP_ID }}
          private_key: ${{ secrets.RELEASE_PLEASE_GITHUB_APP_PRIVATE_KEY }}
      - uses: google-github-actions/release-please-action@v3
        id: release-please
        with:
          token: ${{ steps.generate-github-token.outputs.token }}
          command: manifest

  release:
    runs-on: [ ubuntu-latest ]
    needs: [ release-please ]
    if: needs.release-please.outputs.release_created
    steps:
      - run: |
          echo "Release created: ${{ needs.release-please.outputs.release_created }}"
          echo "Tag name: ${{ needs.release-please.outputs.tag_name }}"
          echo "Version: ${{ needs.release-please.outputs.version }}"
          echo '${{ needs.release-please.outputs.all }}' | jq
